In [3]:
#While loop
#Print first ten digits

i = 0

while (i < 10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [1]:
#For loops
for i in range (0,10):
    print("Hi my friends")

hi my friend
hi my friend
hi my friend
hi my friend
hi my friend
hi my friend
hi my friend
hi my friend
hi my friend
hi my friend

In [12]:
#Nested Loops

maxRows = 7
maxColumns = 20

for j in range (0,maxRows):
    for i in range (0, maxColumns):
        print(i,"", end="")
    print()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [16]:
#Iteration Break Statements
threshold = 500
firstValue = 0
firstSquare = 0

for i in range(0,50,1):
    if (i * i >= threshold):
        firstValue = i
        firstSquare = i*i
        break

print('The first square number %s is %s'%(threshold,firstSquare))

The first square number 500 is 529

In [37]:
a = 10
b = 5

messagge = ""

if a>b:
    message = "Greater"
else:
    message = "Not Greater"

print(message)

sum = int(0)
for i in range (0,10,1):
    sum +=i
print(sum)

Greater
45